<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="View/css/formularioUsuario.css"/>
</head>
<body>
	<div class="navbar">
 		 <div class="navbar-inner">
    		<div class="container">
 
   		   <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
   		   <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    		    <span class="icon-bar"></span>
    		    <span class="icon-bar"></span>
    		    <span class="icon-bar"></span>
   		   </a>
 
   		   <!-- Be sure to leave the brand out there if you want it shown -->
  		    <a class="brand" href="#">Control Gastos</a>
 
 		     <!-- Everything you want hidden at 940px or less, place within here -->
  		    <div class="nav-collapse collapse">
  		      <!-- .nav, .navbar-search, .navbar-form, etc -->
  		      	<ul class="nav nav-tabs">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Consultas<b class="caret"></b></a>
    					<ul class="dropdown-menu">
    		 			 <!-- links -->
    		 				<li><a href="../View/consultaPago.html">Movimientos</a></li>
							<li><a href="../View/estadoCuenta.html">Estado de cuenta</a></li>
   						</ul>
   					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Modificar<b class="caret"></b></a>
    					<ul class="dropdown-menu">
    		 			 <!-- links -->
    		 				<li><a href="#modalmodificador" data-toggle="modal">Cliente</a></li>
						  	<li><a href="#">Contrato</a></li>
   						</ul>
   					</li>
   					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Expedientes<b class="caret"></b></a>
    					<ul class="dropdown-menu">
    		 			 <!-- links -->
    		 				<li><a href="../View/expedienteCliente.html">Cliente</a></li>
						  	<li><a href="../View/expedienteContrato.html">Contrato</a></li>
   						</ul>
   					</li>
				</ul>
  		    </div>
  			</div>
 		 </div>
 		 <a href="../Utils/Logout.php" >Cerrar sesion</a>
	</div>

	<!-- Modal -->
		<div id="modalmodificador" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
		    	<h3 id="myModalLabel">Modificar Cliente</h3>
		  	</div>
		  <form method="post">
			  <div class="modal-body">

			  		<label class="alineado" for="username">Usuario *</label>
					<input id="username" type="text" class="span2 alineado" name="username" placeholder="Ingrese Usuario..." required="required"/><br>
				    
					<label class="alineado" for="passReg">Contraseña *</label>
					<input id="passReg" type="password" class="span2 alineado" name="password" placeholder="Ingrese Contrasena..." required="required"/><br>
					
					<label class="alineado" for="email">Email *</label>
					<input id="email" type="email" class="span2 alineado" name="email" placeholder="Ingrese Email" required="required"/><br>
					
					<label class="alineado" for="nombre">Nombre(s) *</label>
					<input id="nombre" type="text" class="span2 alineado" name="nombre" placeholder="Nombre..." required="required"/><br>
					
					<label class="alineado" for="apellidoP">Apellido Paterno *</label>
					<input id="apellidoP" type="text" class="span2 alineado" name="apellidoPat" placeholder="Apellido paterno..." required="required"/><br>
					
					<label class="alineado" for="apellidoM">Apellido Materno *</label>
					<input id="apellidoM" type="text" class="span2 alineado" name="apellidoMat" placeholder="Apellido materno..." required="required"/><br>
					
					<label class="alineado" for="rfc">RFC *</label>
					<input id="rfc" type="text" class="span2 alineado" name="RFC" placeholder="RFC..." required="required"/><br>
					
					<label class="alineado" for="tel">Telefono *</label>
					<input id="tel" type="tel" class="span2 alineado" name="telefono" placeholder="Telefono..." required="required"/><br>
					
					<label class="alineado" for="persona">Es persona fisica</label>
					<input id="persona" type="checkbox" name="esPersonaFisica"/> <br>
					
					<h4>Direccion</h4>
					
					<label class="alineado" for="calle">Calle *</label>
					<input id="calle" type="text" class="span2 alineado" name="direccion[calle]" placeholder="Calle..." required="required"/><br>
					
					<label class="alineado" for="numint">Numero Interior *</label>
					<input id="numint" type="text" class="span2 alineado" name="direccion[numInterior]" placeholder="Numero Interior..." required="required"/><br>
					
					<label class="alineado" for="numext">Numero Exterior </label>
					<input id="numext" type="text" class="span2 alineado" name="direccion[numExterior]" placeholder="Numero Exterior..." /><br>
					
					<label class="alineado" for="col">Colonia *</label>
					<input id="col" type="text" class="span2 alineado" name="direccion[colonia]" placeholder="Colonia..." required="required"/><br>
					
					<label class="alineado" for="cp">C.P. *</label>
					<input id="cp" type="text" class="span2 alineado" name="direccion[cp]" placeholder="CP..." required="required"/><br>
					
					<label class="alineado" for="selectEstados">Estado *</label>
					<select id="selectEstados" type="text" class="span2 alineado seleccion" name="direccion[estado]" required="required" onchange="obtenerMunicipios(this)">
					</select><br>
					
					<label class="alineado" for="selectMunicipios">Municipio *</label>
					<select id="selectMunicipios" type="text" class="span2 alineado seleccion" name="direccion[municipio]" required="required" >
					</select><br>
			  </div>
			  <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
				    <button class="btn btn-primary" >Cambiar</button>
			  </div>
		  </form>
		</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="hero-unit span10">
				<!--Body-->
				<table class="table">
					<thead>
						<tr>
							<th>Expediente</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Datos Generales</th>
						</tr>
						<tr>
							<td>
								<div class="span3">Nombre:</div>
								<div class="span8">Name</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">Apellidos:</div>
								<div class="span8">Name</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">No. Cliente:</div>
								<div class="span8">12345</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">Tipo Persona:</div>
								<div class="span8">Fisica</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">Colonia:</div>
								<div class="span8">Name</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">RFC:</div>
								<div class="span8">Name1234</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>


		</div>


	</div>


	


</body>



</html>