<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="navbar">
 		 <div class="navbar-inner">
    		<div class="container">
 
   		   <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
   		   <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    		    <span class="icon-bar"></span>
    		    <span class="icon-bar"></span>
    		    <span class="icon-bar"></span>
   		   </a>
 
   		   <!-- Be sure to leave the brand out there if you want it shown -->
  		    <a class="brand" href="#">Control Gastos</a>
 
 		     <!-- Everything you want hidden at 940px or less, place within here -->
  		    <div class="nav-collapse collapse">
  		      <!-- .nav, .navbar-search, .navbar-form, etc -->
  		      	<ul class="nav nav-tabs">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Consultas<b class="caret"></b></a>
    					<ul class="dropdown-menu">
    		 			 <!-- links -->
    		 				<li><a href="../View/consultaPago.html">Movimientos</a></li>
							<li><a href="../View/estadoCuenta.html">Estado de cuenta</a></li>
   						</ul>
   					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Modificar<b class="caret"></b></a>
    					<ul class="dropdown-menu">
    		 			 <!-- links -->
    		 				<li><a href="#modalmodificador" data-toggle="modal">Cliente</a></li>
						  	<li><a href="#">Contrato</a></li>
   						</ul>
   					</li>
   					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Expedientes<b class="caret"></b></a>
    					<ul class="dropdown-menu">
    		 			 <!-- links -->
    		 				<li><a href="../View/expedienteCliente.html">Cliente</a></li>
						  	<li><a href="../View/expedienteContrato.html">Contrato</a></li>
   						</ul>
   					</li>
				</ul>
  		    </div>
  			</div>
 		 </div>
 		 <a href="../Utils/Logout.php" >Cerrar sesion</a>
	</div>

	<!-- Modal -->
		<div id="modalmodificador" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
		    	<h3 id="myModalLabel">Modificar Cliente</h3>
		  	</div>
		  <form method="post">
			  <div class="modal-body">
				    <label class="label">Usuario </label>
					<input type="text" class="span2" name="username" /><br>
					<label class="label">Password </label>
					<input type="password" class="span2" name="password" /><br>
					<label class="label">Email </label>
					<input type="email" class="span2" name="email" /><br>
					<label class="label">Nombre(s) </label>
					<input type="text" class="span2" name="nombre" /><br>
					<label class="label">Apellido Paterno </label>
					<input type="text" class="span2" name="apellidoPat" /><br>
					<label class="label">Apellido Materno </label>
					<input type="text" class="span2" name="apellidoMat" /><br>
					<label class="label">RFC </label>
					<input type="text" class="span2" name="RFC" /><br>
					<label class="label">Telefono </label>
					<input type="tel" class="span2" name="telefono" /><br>
					
					<label class="label-info">Direccion</label>
					
					<label class="label">Calle </label>
					<input type="text" class="span2" name="direccion[calle]" /><br>
					<label class="label">Numero Interior </label>
					<input type="number" class="span2" name="direccion[numInterior]" /><br>
					<label class="label">Numero Exterior </label>
					<input type="number" class="span2" name="direccion[numExterior]"  /><br>
					<label class="label">Colonia </label>
					<input type="text" class="span2" name="direccion[colonia]" /><br>
					<label class="label">C.P. </label>
					<input type="number" class="span2" name="direccion[cp]" /><br>
					<label class="label">Estado </label>
					<input type="text" class="span2" name="direccion[estado]" /><br>
					<label class="label">Municipio </label>
					<input type="text" class="span2" name="direccion[municipio]" /><br>
			  </div>
			  <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar Marco</button>
				    <button class="btn btn-primary" >Cambiar</button>
			  </div>
		  </form>
		</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="hero-unit span10">
				<!--Body-->
				<table class="table">
					<thead>
						<tr>
							<th>Expediente</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Realizado por:</th>
						</tr>
						<tr>
							<td>
								<div class="span3">Nomina:</div>
								<div class="span8">3434354</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">Nombre:</div>
								<div class="span8">Banquero</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">Telefono:</div>
								<div class="span8">34343434</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">Fecha apertura:</div>
								<div class="span8">06/06/2013</div>
							</td>
						</tr>
						<tr>
							<th>Contrato:</th>
						</tr>
						<tr>
							<td>
								<div class="span3">Asunto:</div>
								<div class="span8">Foo</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="span3">Forma de Pago:</div>
								<div class="span8">Bar</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>


	</div>


	


</body>



</html>