<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Login Control de Gastos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="View/css/bootstrap.css"/>
	</head>
	<body onload="llenarEstados()">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="View/js/bootstrap.min.js"></script>
		<script src="View/js/login.js"></script>
		<script src="View/js/ajax.js"></script>
		<script src="View/js/validacion.js"></script>
		<!-- Button to trigger modal -->
		<a href="#myModal" role="button" class="btn" data-toggle="modal">Registrar</a>
 
		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
		    	<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
		    	<h3 id="myModalLabel">Registro de nuevo Cliente</h3>
		  	</div>
		  <form id="formulario"  action="Menu.php" method="post" name="cliente">
			  <div class="modal-body">
				    <label class="label">Usuario *</label>
					<input id="userame" type="text" class="span2" name="username" placeholder="Ingrese Usuario..." required="required"/><br>
					<label class="label">Password *</label>
					<input id="passReg" type="password" class="span2" name="password" placeholder="Ingrese Contrasena..." required="required"/><br>
					<label class="label">Email *</label>
					<input id="email" type="email" class="span2" name="email" placeholder="Ingrese Email" required="required"/><br>
					<label class="label">Nombre(s) *</label>
					<input id="nombre" type="text" class="span2" name="nombre" placeholder="Nombre..." required="required"/><br>
					<label class="label">Apellido Paterno *</label>
					<input id="apellidoP" type="text" class="span2" name="apellidoPat" placeholder="Apellido paterno..." required="required"/><br>
					<label class="label">Apellido Materno *</label>
					<input id="apellidoM" type="text" class="span2" name="apellidoMat" placeholder="Apellido materno..." required="required"/><br>
					<label class="label">RFC *</label>
					<input id="rfc" type="text" class="span2" name="RFC" placeholder="RFC..." required="required"/><br>
					<label class="label">Telefono *</label>
					<input id="tel" type="tel" class="span2" name="telefono" placeholder="Telefono..." required="required"/><br>
					
					<label class="label">Es persona fisica</label>
					<input id="persona" type="checkbox" name="esPersonaFisica"/> <br>
					
					<label class="label-info">Direccion</label>
					
					<label class="label">Calle *</label>
					<input id="calle" type="text" class="span2" name="direccion[calle]" placeholder="Calle..." required="required"/><br>
					<label class="label">Numero Interior *</label>
					<input id="numint" type="number" class="span2" name="direccion[numInterior]" placeholder="Numero Interior..." required="required"/><br>
					<label class="label">Numero Exterior </label>
					<input id="numext" type="number" class="span2" name="direccion[numExterior]" placeholder="Numero Exterior..." /><br>
					<label class="label">Colonia *</label>
					<input id="col" type="text" class="span2" name="direccion[colonia]" placeholder="Colonia..." required="required"/><br>
					<label class="label">C.P. *</label>
					<input id="cp" type="number" class="span2" name="direccion[cp]" placeholder="CP..." required="required"/><br>
					<label class="label">Estado *</label>
					<select id="selectEstados" type="text" class="span2" name="direccion[estado]" required="required" onchange="obtenerMunicipios(this)">
					</select><br>
					<label class="label">Municipio *</label>
					<select id="selectMunicipios" type="text" class="span2" name="direccion[municipio]" required="required" >
					</select><br>
			  </div>
			  <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				    <input type="hidden" name="accion" value="insertar" />
				    <button onclick="validaForm()" class="btn btn-primary" name="uso" value="cliente">Registrar</button>
			  </div>
		  </form>
		</div>
		<form class="well" action="Menu.php" method="post" name="login">
			<label>Usuario</label>
			<input id="user" type="text" class="span3" placeholder="Ingrese Usuario..." name="username" required="required"/><br>
			<label>Password</label>
			<input id="pass" type="text" class="span3" placeholder="Ingrese Contrasena..." name="password" required="required"/><br>
			<button onclick="validaLogin()" class="btn btn-primary" name="uso" value="login">Log In</button>
		</form>
	</body>
</html>