<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Login Control de Gastos</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	</head>
	<body>
		<div>
			<form action="Menu.php" method="post" name="login">
            <table width="300" align="center">
                <tr>
                    <td width="100"><label>Usuario: </label></td>
                    <td width="200"><input type="text" width="200" name="username" required="required"/></td>
                </tr>
                <tr>
                    <td width="100"><label>Contrase&ntilde;a</label></td>
                    <td width="200"><input type="password" width="200" name="password" required="required" /></td>
                </tr>
                <tr>
                    
                    <td colspan="5" align="middle"><input type="submit" name="uso" value="login"/></td>
                    <td colspan="5" align="middle"><input type="submit" name="registrar" value="Registrar"/></td>
                </tr>
            </table>
         </form>
		</div>
	</body>
</html>
